 * {
     background-color: lightskyblue;
     text-align: center;
    color: white;
     font-family: Arial;
 }

 .trigger {
     margin-top: 30%;
     display: block;
     margin: 0 auto;
     margin-top: 30%;
     min-width: 300px;
     border: 1px solid white;
     font-weight: bold;
     min-height: 30px;
     font-size: 20px;
     

 }
.tweet {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    border: 1px solid white;
    font-weight: bold;
    height: 30px;
    font-size: 20px;
}